#main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background: #151922;
}

#main-footer p {
  text-align: center;
  color: #73757a;
}

@media (max-width: 768px) {
  #main-footer p {
    font-size: 0.8rem;
  }
}
