#reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
}

#reviews .reviews-info h2 {
  color: var(--grey);
  font-size: 2.5rem;
}

#reviews .reviews-info p {
  margin-top: 0.5rem;
}

#reviews .reviews-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
}

#reviews .reviews-imgs div {
  margin: 2rem 0.8rem;
  height: 25rem;
  width: 22rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#reviews .reviews-imgs div:hover {
  opacity: 0.9;
}

#reviews .reviews-imgs div img {
  display: block;
  width: 100%;
  flex: 1;
}

#reviews .reviews-imgs p {
  flex: 2;
  color: white;
  background: #2a2d30;
  text-align: start;
  padding: 1rem;
}

#reviews .reviews-imgs p .review-author {
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  #reviews {
    margin-top: 4rem;
  }

  #reviews .reviews-info h2 {
    color: var(--grey);
    font-size: 2rem;
  }

  #reviews .reviews-imgs {
    flex-direction: column;
  }

  #reviews .reviews-imgs div {
    margin: 1rem;
    flex-direction: row;
    height: 2rem;
    width: 100%;
    padding: 0 1rem;
  }

  #reviews .reviews-imgs div img {
    display: block;
    max-width: 64px;
    max-height: 64px;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    /* transfrom: translate3d(-50%, -50%, 0); */
    flex: 1;
  }

  #reviews .reviews-imgs p {
    flex: 1;
    color: var(--grey);
    background: none;
    text-align: start;
    padding: 0.5rem 0;
    margin-left: 0.5rem;
    width: 70%;
  }
}
